<div id="<%= dom_id app %>">
  <p>
    <strong>Name:</strong>
    <%= app.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= app.description %>
  </p>

  <p>
    <strong>Icon url:</strong>
    <%= app.icon_url %>
  </p>

</div>
